<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
	<bean id="candyKater" class="homework.com.candy.CandyKater">
		<constructor-arg name="price" value="40"/>
	</bean>
	<bean id="candyRomashka" class="homework.com.candy.CandyRomashka">
		<constructor-arg name="price" value="50"/>
	</bean>
	<bean id="candyBarabas" class="homework.com.candy.ChocolateCandyBarabas">
		<constructor-arg name="price" value="60"/>
	</bean>
	
	<bean id="present" class="homework.com.present.NewYearPresentImp">
		<property name="candies">
			<list>
				<ref bean="candyKater"></ref>
				<ref bean="candyRomashka"></ref>
				<ref bean="candyBarabas"></ref>
				<ref bean="candyBarabas"></ref>
				<ref bean="candyKater"></ref>
			</list>
		</property>
	</bean>  
</beans>