<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
	<bean id="candyKater" class="homework.com.CandyKater" />
	<bean id="candyRomashka" class="homework.com.Romashka" />
	<bean id="candyBarabas" class="homework.com.ChocolateCandyBarabas" />
	
	<bean id="present" class="homework.com.present.NewYearPresentImp">
		<property name="candies" ref="candyKater" />
		<property name="candies" ref="candyRomashka" />
		<property name="candies" ref="candyBarabas" />
		<property name="candies" ref="candyBarabas" />
	</bean>  
</beans>